
h1 a {
  text-decoration: none;
}
a {
  font-family: 'Libre Baskerville', serif;
  color: #141823;
  font-weight: bold;
}
p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 760px;
  margin: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 20px;
    a {
      text-decoration: none;
    }
  }
}
.hero {
  width: 100%;
  margin: 10px 0;
}
.gallery-list-photo {
  width: 200px;

}
.sidebar-left {
  position: fixed;
  height: 100vh;
  width: 10px;
  background: #001f3f;
  left: calc(50% - 380px - 30px);
  top: 0;
}
.sidebar-right {
  position: fixed;
  height: 100vh;
  width: 10px;
  background: #001f3f;
  left: calc(50% + 380px + 30px);
  top: 0;
}
.artwork {
  list-style: none;

  padding: 0;
  margin: 40px 0;
  li {
    float: left;
    width: 33%;
    img {
      width: 100%;
    }
    .gallery-art-container {
      padding: 15px;
      display: block;
      .post-title {
        margin-top: 10px;
        display: block;
      }
      .post-meta {
        display: block;
      }
    }
  }
}
