
h1 a {
  text-decoration: none;
}
a {
  font-family: 'Libre Baskerville', serif;
  color: #141823;
}

.container {
  width: 960px;
  margin: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 20px;
    a {
      text-decoration: none;
    }
  }
}
.hero {
  width: 100%;
}
