
h1 a {
  text-decoration: none;
}
a {
  font-family: 'Libre Baskerville', serif;
  color: #141823;
  font-weight: bold;
}
p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}
.divider {
  height: 7px;
  margin: 20px 0;
  background: #3f3f3f;
}
.container {
  width: 760px;
  margin: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin-right: 20px;
    a {
      text-decoration: none;
    }
  }
}
.hero {
  width: 100%;
  border: 1px solid #3f3f3f;
}
.gallery-list-photo {
  width: 200px;

}
.sidebar-left {
  position: fixed;
  height: 100vh;
  width: 7px;
  background: #3f3f3f;
  left: calc(50% - 380px - 30px + 7px);
  top: 0;
}
.sidebar-right {
  position: fixed;
  height: 100vh;
  width: 7px;
  background: #3f3f3f;
  left: calc(50% + 380px + 17px);
  top: 0;
}
.artwork {
  list-style: none;

  padding: 0;
  margin: 40px 0;
  li:nth-child(3n+1) .gallery-art-container {
    padding-right: 15px;
  }

  li:nth-child(3n+2) .gallery-art-container {
    padding: 0 7.5px;
  }
  li:nth-child(3n+3) .gallery-art-container {
    padding-left: 15px;
  }
  li {
    float: left;
    width: 33%;
    img {
      border: 1px solid #fbfbfb;
      width: 100%;
      &:hover {
        filter: blur(1px);
      }
    }
    .gallery-art-container {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      display: block;
      cursor: pointer;
      .post-title {
        margin-top: 10px;
        display: block;
      }
      .post-meta {
        color: #001f3f;
        font-weight: 400;
        margin-top: 5px;
        display: block;
      }
    }
  }
}
.artwork-item {
  img {
    width: 100%;
  }
  .artwork-backdrop {
    padding: 7px;
    background: #3f3f3f;
  }
}
.post {
  h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  .post-meta {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    display: block;
  }
}
