---
layout: default
---

<div class="home">


  <ul class="artwork">
    {% for post in site.posts %}
      <li>
        <a class="gallery-art-container">

            <!-- <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> -->
            <img class="gallery-list-photo" src="http://res.cloudinary.com/dx3kbjr3g/image/fetch/w_200,h_200,c_fill,f_auto/http://sibylleruppert.com/assets/images/{{post.image}}" />
            <span class="post-title">{{ post.title }}</span>
            <span class="post-meta">{{ post.year }}</span>
          <div style="clear: both;"></div>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
