---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">{{page.year}}</p>
  </header>

  <div class="artwork-item" itemprop="articleBody">
    <div class="artwork-backdrop">
      <img src="http://res.cloudinary.com/dx3kbjr3g/image/fetch/w_800,c_fill,f_auto/http://sibylleruppert.com/assets/images/{{page.image}}" />
    </div>
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
